# Project exclude paths
/out/
/.vscode/
/.idea/
/.git/
/.gitignore
/.gitattributes
/.gitmodules
/.github/
/.gitlab-ci.yml
/.gitlab/
/.build/
/.kotlin/
/.gradle/
/.vscode/
/.idea/
/.git/
/.gitignore
/.gitattributes
/.gitmodules
/.github/
/.gitlab-ci.yml
/.gitlab/
/.build/
/.kotlin/
/.gradle/
